
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: #F8FFE5;
    --black: #000814;
    --primaryColor: #1B9AAA;
    --secondaryColor: #FFC43D;
    --red: #EF476F;
    --green: #06D6A0;
    --heading:32px;
    --subHeading:20px;
    --paragraph:16px;
    --smallText:12px;
}

#root{
    max-width:300px ;
    width: 80vw;
    margin: 0 auto;
    padding-top:10vh ;
    height: 100vh;
}

body{
    margin: 0;
    font-family: 'Prompt', sans-serif;
    background-color: var(--white);
    color: var(--primaryColor);
}

h1{
    font-size: var(--heading);
    font-weight: bold;
}

h2{
    font-size: var(--subHeading);
    font-weight: bold;
}

p{
    font-size: var(--paragraph);
    font-weight: 400;
}

ul{
    margin: 0;
    padding: 0;
}

a,input, button{
    font-family: inherit;
    color: inherit;
}

input::placeholder {
    font-size: inherit;
    color: inherit;
}

@media  screen and (min-width: 800px) {

    :root{
        --heading:36px;
        --subHeading:32px;
        --paragraph:20px;
        --smallText:16px;
    }

    #root{
        max-width:600px ;
        width: 50vw;
        margin: 0 auto;
        height: 100vh;
        padding-top:10vh ;
    }
    
    
}
